// _nav
.wrapper_nav{
  height: 140px;
  width: 100%;
  background-color: $colorBlack;
  .nav_general{
    height: 100%;
    width: 1200px;
    margin: auto;
    // nav contatti
    .nav_contatti{
      @include navFlex;
      color: $colorGrey;
      justify-content: flex-end;
      line-height: 70px;
      // div phone
      .phone{
        padding: 0 10px;
        text-align: center;
        white-space: normal;
        // icone
        i {
          color: $colorIconNav;
        }
        // icone
        span{
          font-size: 12px;
        }
      }
      // div phone
    }
    // /nav contatti
    // nav info
    .nav_info{
      @include navFlex;
      justify-content: flex-start;
      line-height: 70px;
      color: #fff;
      // info
      .info_search{
        padding: 0 30px;
        text-align: center;

      }
      // info
    }
    // /nav info
  }
  // /nav general
}
// /nav
